{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "commitsSort": ["subject", "scope"]
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ]
  ],
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "staging",
      "channel": "rc",
      "prerelease": "rc"
    },
    {
      "name": "development",
      "channel": "dev",
      "prerelease": "dev"
    }
  ],
  "ci": false
}
